* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/bcg-img/bcg.jpeg");
    margin: 0;
}

body.rtl {
    direction: rtl;
}

.main-section-container {
    background-color: rgba(255, 255, 255, 0.733);
    border: 2px solid white;
}

table img {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
}

[name=modal-img] img {
    height: 30%;
    width: 40%;
}

.sort-books {
    cursor: pointer;
}

select.form-control {
    display: inline-block
}

th {
    width: auto;
}

th.min {
    width: 1%;
    white-space: nowrap;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.page-title {
    font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
    font-weight:600;
    letter-spacing: 0.05em;
}